@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Dancing+Script&family=Exo+2:wght@800&family=Fira+Code:wght@300&family=Jura:wght@300;400&family=Montserrat:wght@200;400&display=swap");
.scholarships {
  min-height: 80vh;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scholarships .scholarship-para {
  text-align: justify;
}

.scholars-content-wrapper {
  padding-left: 50px;
  padding-right: 50px;
}

.scholar-hero-section {
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  padding-top: 70px;
  margin: 0;
}

.scholar-hero-section .scholar-hero-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.scholar-hero-section .scholar-hero-data .headline {
  color: #005257 !important;
}

.scholar-row-3 {
  padding: 0;
}

.scholar-row-3 .scholar-item-text {
  text-align: justify;
  padding-left: 0;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .scholars-content-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
  .scholar-row-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .scholars-content-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .scholar-row-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .scholars-content-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .scholar-row-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .scholars-content-wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
  .scholar-row-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .scholars-content-wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
  .scholar-row-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space;
        -ms-flex-pack: space;
            justify-content: space;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=scholarships.css.map */