.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
 
.message-box .user-box {
  position: relative;
}

.message-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #1169ff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #1169ff;
  outline: none;
  background: transparent;
 font-size: 13px;
}
.message-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #1169ff;
  pointer-events: none;
  transition: 0.5s;
}

 

.message-box form button {
  position: relative;
  display: inline-block; 
  padding-left: 1rem;
  padding-right: 1rem;
  color: #ff9924;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  border:none; 
  border-left: 1px solid #ff9924;
  border-right: 1px solid #1169ff;
  border-radius: 2rem;
  background-color: rgba(17, 34, 51, 0);
}

.message-box button:hover {
  
  border-top: 1px solid #1169ff;
  border-bottom: 1px solid #ff9924;
}

.message-box button span {
  position: absolute;
  display: block;
}

 
 
 

.message-box textarea{
 border: none;
 border-bottom: 1px solid #1169ff; 
 resize: none;
 color: black; 
 font-size: 13px;
  outline: none;
  width: 100%;
}
