@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;500;900&family=Dancing+Script&display=swap');

//typography
$font-primary: "Archivo", sans-serif;
$font-dance: "Dancing Script", cursive;

$fw-100: 100;
$fw-200: 200;
$fw-500: 500;
$fw-900: 900;

//colors
$left-container-bg: #f7f7f7;
$color-primary: #005247;
$color-secondary: #19C17E;

$color-gradient : linear-gradient(to right top, #005247, #006d58, #008867, #00a474, #19c17e);

body,
html {
  max-width: 100vw;
  font-family: $font-primary;
  font-weight: 100;
}



// NAVIGATION
/* 
    2. When clicked, give the text the same highlight colour
    3. Give the nav items a font for links roboto thin italics 
    4. Create hamburger Menu with transition effect for smaller screens
    5. Use Flexbox to spread content
    6. Do not include social media buttons at the top since you do not want people leaving before they have gone through the site

    7. Add scroll events to make sure the navigation bar is sticky


*/
.header-content {
  font-weight: $fw-200;
  color: black;
  overflow: auto;
  z-index: 6;
  padding: 0;
  overflow-x: hidden;

  //manage the hamburger
  .navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    transition: 0.5s ease-in-out;

    .toggler-icon {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: $color-secondary;
      border-radius: 1px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
      border-radius: 1px;
    }

    .middle-bar {
      margin-top: 0px;
      margin-left: 4px;
    }
  }

  //clear out all default decorative button styles
  .navbar-toggler,
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
    position: relative;
  }

  /* Color of 3 lines */

  .navbar-toggler.collapsed .toggler-icon {
    background-image: $color-gradient;
  }

  /* when navigation is clicked */

  .navbar-toggler .top-bar {
    top: inherit;
    transform: rotate(135deg);
  }

  .navbar-toggler .middle-bar {
    opacity: 0;
    top: inherit;
    filter: alpha(opacity=0);
  }

  .navbar-toggler .bottom-bar {
    top: inherit;
    transform: rotate(-135deg);
  }

  /* State when the navbar is collapsed */

  .navbar-toggler.collapsed .top-bar {
    position: absolute;
    top: 0px;
    transform: rotate(0deg);
  }

  .navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    position: absolute;
    top: 5px;
    filter: alpha(opacity=0);
  }

  .navbar-toggler.collapsed .bottom-bar {
    position: absolute;
    top: 10px;
    margin-left: 8px;
    transform: rotate(0deg);
  }

  // item styles
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-nav {
    font-weight: $fw-200;
    letter-spacing: 0.1rem;
    font-size: 14px;
  }

  .nav-link {
    color: black !important;
  }

  .nav-item:hover {
    color: $color-primary !important;
    border-bottom: 2px solid #012393;
  }
}

.left-container {
  padding-left: 20px;
  background-color: $left-container-bg;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;

  .headline {
    font-weight: $fw-900;
  }

  .button-controls {
    display: flex;
    flex-direction: row;
    gap: 4px;

    .btn-service {
      background-color: $color-primary; 
      color: white;
      border-radius: 2rem;
      font-size: 12px;
      font-weight: $fw-200;
      text-align: center;
      height: fit-content;
    }

    .btn-service:hover {
      background-color: $color-secondary;
    }

    .btn-contact {
      background-color: $color-secondary;
      border: none;
      color: white;
      border-radius: 2rem;
      font-size: 12px;
      font-weight: $fw-200;
      text-align: center;
      height: fit-content;
    }

    .btn-contact:hover {
      background-image: $color-gradient;
    }

    //contact page buttons
    .btn-email {
      border-left: 1px solid $color-primary;
      border-right: 1px solid $color-secondary;
      border-radius: 2rem;
      font-size: 12px;
      font-weight: $fw-200;
      text-align: center;
      height: fit-content;
    }

    .btn-email:hover {
      border-bottom: 1px solid $color-secondary;
      border-top: 1px solid $color-primary;
    }

    .btn-phone {
      border-right: 1px solid $color-primary;
      border-left: 1px solid $color-secondary;
      border-radius: 2rem;
      font-size: 12px;
      font-weight: $fw-200;
      text-align: center;
      height: fit-content;
    }

    .btn-phone:hover {
      border-top: 1px solid $color-secondary;
      border-bottom: 1px solid $color-primary;
    }
  }
}

.right-container {
  padding-right: 20px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
}
.word-card-1 {
  background-color: #f1e1a6;
  height: 300px;
  max-width: 220px;
  display: flex;
  align-items: center;
  .card-text {
    font-family: $font-dance;
  }
}

.word-card-2 {
  background-color: #c3e5ae;
  height: 300px;
  max-width: 220px;
  display: flex; 
  align-items: center;
  .card-text {
    font-family: $font-dance;
  }
}

.word-card-3 {
  background-color: #e5aee3;
  height: 300px;
  max-width: 220px;
  display: flex;
  align-items: center;
  .card-text {
    font-family: $font-dance;
  }
}

.word-card-1a {
  background-color: #54bab9;
  height: 300px;
  max-width: 220px;
  display: flex;
  align-items: center;
  .card-text {
    font-family: $font-dance;
  }
}

.word-card-2a {
  background-color: #ff8080;
  height: 300px;
  max-width: 220px;
  display: flex; 
  align-items: center;
  .card-text {
    font-family: $font-dance;
  }
}

.word-card-3a {
  background-color: #f1e1a6;
  height: 300px;
  max-width: 220px;
  display: flex;
  align-items: center;
  .card-text {
    font-family: $font-dance;
  }
}

.word-card-4a {
  background-color: #d0e2fa;
  height: 300px;
  max-width: 220px;
  display: flex;
  align-items: center;
  .card-text {
    font-family: $font-dance;
  }
}

//services page
.service_header {
  font-family: $font-primary;
  font-weight: $fw-900;
}

//contact page
.iyt {
  font-family: $font-dance;
}
.body-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//footer
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white !important;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 20px;
  overflow-x: scroll;
  text-align: center;

   

  .ssan{
    font-size: 14px;
  }

  .foot-link{
      text-decoration: none;
      padding:4px;
      margin: 0px;
    }
   
}

//media querries
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .container {
    display: flex;
    flex-direction: column; 
    justify-content:center; 
    align-items: center; 
    .col-10{ 
      display: flex;
      flex-direction:column; 
      justify-content: center;
      align-items: center; 
      text-align: center; 
      .word-para{
        text-align: justify;
      }
    }
    .flex-lg-row-reverse { 
      justify-content: center;
      align-items: center;  
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .container {

    .col-10{ 
      display: flex;
      flex-direction:column; 
      justify-content: center;
      align-items: center; 
      text-align: center;

      .word-para{
        text-align: justify;
      }
    }

    .flex-lg-row-reverse { 
      justify-content: center;
      align-items: center;  
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .left-container {
    position: fixed;
  }

  .right-container {
    margin-left: 400px;
  }

  .nav-link{
    border-bottom: 1px solid grey;
    margin-left: 3px;
  }
}
