@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@200;500;900&family=Dancing+Script&display=swap");
body,
html {
  max-width: 100vw;
  font-family: "Archivo", sans-serif;
  font-weight: 100;
}

/* 
    2. When clicked, give the text the same highlight colour
    3. Give the nav items a font for links roboto thin italics 
    4. Create hamburger Menu with transition effect for smaller screens
    5. Use Flexbox to spread content
    6. Do not include social media buttons at the top since you do not want people leaving before they have gone through the site

    7. Add scroll events to make sure the navigation bar is sticky


*/
.header-content {
  font-weight: 200;
  color: black;
  overflow: auto;
  z-index: 6;
  padding: 0;
  overflow-x: hidden;
  /* Color of 3 lines */
  /* when navigation is clicked */
  /* State when the navbar is collapsed */
}

.header-content .navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.header-content .navbar-toggler .toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #012393;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  border-radius: 1px;
}

.header-content .navbar-toggler .middle-bar {
  margin-top: 0px;
  margin-left: 4px;
}

.header-content .navbar-toggler,
.header-content .navbar-toggler:focus,
.header-content .navbar-toggler:active,
.header-content .navbar-toggler-icon:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  position: relative;
}

.header-content .navbar-toggler.collapsed .toggler-icon {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#012393), color-stop(#0b2cab), color-stop(#1535c4), color-stop(#1e3fdd), to(#2649f7));
  background-image: linear-gradient(to right top, #012393, #0b2cab, #1535c4, #1e3fdd, #2649f7);
}

.header-content .navbar-toggler .top-bar {
  top: inherit;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.header-content .navbar-toggler .middle-bar {
  opacity: 0;
  top: inherit;
  filter: alpha(opacity=0);
}

.header-content .navbar-toggler .bottom-bar {
  top: inherit;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.header-content .navbar-toggler.collapsed .top-bar {
  position: absolute;
  top: 0px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.header-content .navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  position: absolute;
  top: 5px;
  filter: alpha(opacity=0);
}

.header-content .navbar-toggler.collapsed .bottom-bar {
  position: absolute;
  top: 10px;
  margin-left: 8px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.header-content .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-content .navbar-nav {
  font-weight: 200;
  letter-spacing: 0.1rem;
  font-size: 14px;
}

.header-content .nav-link {
  color: #012393 !important;
}

.header-content .nav-item:hover {
  color: #012393 !important;
  border-bottom: 2px solid #012393;
}

.left-container {
  padding-left: 20px;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
}

.left-container .headline {
  font-weight: 900;
}

.left-container .button-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 4px;
}

.left-container .button-controls .btn-service {
  border-left: 1px solid #ff9924;
  border-right: 1px solid #1169ff;
  border-radius: 2rem;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.left-container .button-controls .btn-service:hover {
  border-bottom: 1px solid #1169ff;
  border-top: 1px solid #ff9924;
}

.left-container .button-controls .btn-contact {
  border-right: 1px solid #ff9924;
  border-left: 1px solid #1169ff;
  border-radius: 2rem;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.left-container .button-controls .btn-contact:hover {
  border-top: 1px solid #1169ff;
  border-bottom: 1px solid #ff9924;
}

.left-container .button-controls .btn-email {
  border-left: 1px solid #ff9924;
  border-right: 1px solid #1169ff;
  border-radius: 2rem;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.left-container .button-controls .btn-email:hover {
  border-bottom: 1px solid #1169ff;
  border-top: 1px solid #ff9924;
}

.left-container .button-controls .btn-phone {
  border-right: 1px solid #ff9924;
  border-left: 1px solid #1169ff;
  border-radius: 2rem;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.left-container .button-controls .btn-phone:hover {
  border-top: 1px solid #1169ff;
  border-bottom: 1px solid #ff9924;
}

.right-container {
  padding-right: 20px;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-container .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.word-card-1 {
  background-color: #f1e1a6;
  height: 300px;
  max-width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.word-card-1 .card-text {
  font-family: "Dancing Script", cursive;
}

.word-card-2 {
  background-color: #c3e5ae;
  height: 300px;
  max-width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.word-card-2 .card-text {
  font-family: "Dancing Script", cursive;
}

.word-card-3 {
  background-color: #e5aee3;
  height: 300px;
  max-width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.word-card-3 .card-text {
  font-family: "Dancing Script", cursive;
}

.word-card-1a {
  background-color: #54bab9;
  height: 300px;
  max-width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.word-card-1a .card-text {
  font-family: "Dancing Script", cursive;
}

.word-card-2a {
  background-color: #ff8080;
  height: 300px;
  max-width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.word-card-2a .card-text {
  font-family: "Dancing Script", cursive;
}

.word-card-3a {
  background-color: #f1e1a6;
  height: 300px;
  max-width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.word-card-3a .card-text {
  font-family: "Dancing Script", cursive;
}

.word-card-4a {
  background-color: #d0e2fa;
  height: 300px;
  max-width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.word-card-4a .card-text {
  font-family: "Dancing Script", cursive;
}

.service_header {
  font-family: "Archivo", sans-serif;
  font-weight: 900;
}

.iyt {
  font-family: "Dancing Script", cursive;
}

.body-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white !important;
  background-color: black;
  padding: auto;
  overflow-x: scroll;
  text-align: center;
}

footer .bottom_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .left-container {
    position: fixed;
  }
  .right-container {
    margin-left: 400px;
  }
  .right-container .word-card {
    margin-left: 30px;
  }
}
/*# sourceMappingURL=style.css.map */